---
import { Waline } from './Waline'
import { Artalk } from './Artalk'
import { Giscus } from './Giscus'
import { comment, waline, artalk, giscus } from '@/config.json'
const provider = (comment?.provider || 'waline') as 'waline' | 'artalk' | 'giscus'
---

<div id="comments">
  {provider === 'waline' && waline?.serverURL && <Waline {...waline} client:visible />}
  {
    provider === 'artalk' && artalk?.server && artalk?.site && (
      <Artalk server={artalk.server} site={artalk.site} client:visible />
    )
  }
  {
    provider === 'giscus' && giscus?.repo && giscus?.repoId && (
      <Giscus {...giscus} client:visible />
    )
  }
</div>
